* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -3px 3px 10px black;
    border-radius: 10px;
    min-height: 78%;
    min-width: 55%;
    overflow: hidden;
    background-color: rgb(255, 0, 0);
}
.total{
    padding: 10%;
    background-color: white;
}
.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: fade 3s;
}

.sign-in-container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.sign-in-icon button {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid rgb(26, 25, 25);
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
    font-weight: 900;
    cursor: pointer;
    animation: fade 3s;

}

.sign-in-icon button:hover {
    background-color: blue;
    color: aliceblue;

}

.sign-in-icon span {
    font-size: 10px;
}

.sign-in-container p {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.817);
}

.sign-in-input {
    display: flex;
    flex-direction: column;
}

.sign-in-input input {
    padding: 8px 25px 8px 10px;
    border: none;
    background-color: rgb(204, 202, 202);
    outline: none;
}

.sign-in-input input::placeholder {
    color: rgba(0, 0, 0, 0.904);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 8700;
}

.sign-in-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 2px;

}

.sign-in-text h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

.sign-in-text button {
    background-color: rgb(255, 17, 0);
    padding: 13px 40px 11px 40px;
    border: none;
    color: white;
    font-size: 11px;
    border-radius: 70px;
    cursor: pointer;
}


.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50%;
    background-color: rgb(255, 0, 0);
    padding: 6%;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fade 3s;
}

.sign-up-container p {
    width: 90%;
    color: white;
    font-size: 12px;
    text-align: center;
}

.sign-up-container h1 {
    color: white;
    text-align: center;
    font-size: 28px;
}

.sign-up-container button {
    background: transparent;
    border: 1.4px solid white;
    color: white;
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 40px;
    border-radius: 50px;
    cursor: pointer;
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}